<script type='text/javascript' src='https://amazingcarousel.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://amazingcarousel.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://rawgit.com/vanphamh2/dienlanhbentre/gh-pages/amazingcarousel.js?ver=1.2'></script>
<div class="cp-header" style="background:url(https://1.bp.blogspot.com/-vpwTDNt9p3o/WVqDTim-bvI/AAAAAAAABy4/kdPwepoZ_tYkfi45ocfzgPtZtFc3jy2hACLcBGAs/s1600/khu_du_l%25E1%25BB%258Bch_c%25E1%25BB%2593n_ph%25E1%25BB%25A5ng_b%25E1%25BA%25BFn_tre.jpg);background-repeat:no-repeat;">
    <div class="cp-title">
     <h1>Khu Du Lịch Cồn Phụng Bến Tre</h1>
        <small>E-mail: dulichsongnuocbentre@gmail.com</small>
    </div>
    <!--end title -->
</div>
<div class="cp-menubar">
    <div class="cp-menubar-left">
     <div class="conf">
     <ul>
         <li><i class="fa fa-map-marker" aria-hidden="true"></i>Địa chỉ: Ấp 10, Tân Thạch, Châu Thành, Bến Tre</li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i><a href="callto:+84967168942">Hotline: 0967.168.942</a></li>
            <li>

<div style="margin-top:5px;" class="g-plusone" data-size="small"></div>
            </li>
        </ul>
        </div>
     </div>
     <div class="cp-menubar-right">
     <h6>Doanh nghiệp địa phương</h6>
     5.0
     <i class="fa fa-star" aria-hidden="true"></i>
     <i class="fa fa-star" aria-hidden="true"></i>
     <i class="fa fa-star" aria-hidden="true"></i>
     <i class="fa fa-star" aria-hidden="true"></i>
     <i class="fa fa-star" aria-hidden="true"></i>
     <span>đang mở cửa</span>
     </div>
</div>
<!--end menu bar -->
<div class="row" style="clear:both;">
 <div class="span8">
 <!-- thuyen du lich -->
 	<div class="service-box">
    	<figure class="icon"><img src="https://2.bp.blogspot.com/-iWQ9iOmfXPo/WV0aPTFNOII/AAAAAAAABzk/x2iI-pnFqnkkJgPE7xyX0Q9bxwrtDGhCQCLcBGAs/s1600/icon3.png" alt=""></figure>
        <div class="service-box_body">
        	<h4 class="title">Thuyền đưa rước khách sang cồn Phụng</h4>
             <hr />
            <div class="service-box-contact">
             <i aria-hidden="true" class="fa fa-phone"></i>Hotline: <a href="callto:+84986885589">0986.885.589</a> - <a href="callto:+84967168942">0967.168.942</a>
            </div>
            <hr />
            <div class="service-box_txt">
            Áp dụng cho khách du lịch tự túc là cá nhân, tập thể <b>không đi theo Tour</b> sang cồn Phụng tham quan tự do.<span class="tourday">Đặt vé trước ngày lễ hoặc cuối tuần</span>
            </div>
        </div>
    </div>
 <!--end thuyen du lich -->
     <div class="slideTour style2">
      <h3>Tour du lịch cồn Phụng</h3><hr />
         <div class="demo-slider">
<div id="amazingcarousel-container-7">
    <div id="amazingcarousel-7" style="display:block;position:relative;width:100%;max-width:940px;margin:0px auto 0px;">
        <div class="amazingcarousel-list-container">
            <ul class="amazingcarousel-list">
               
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a title="Tour du lịch cồn Phụng 1 ngày" href="http://www.dulichsongnuocbentre.com/p/tour-du-lich-con-phung-1-ngay.html"  class="html5lightbox" data-group="amazingcarousel-7"><img src="https://1.bp.blogspot.com/-oLsVjEEDt4w/WVxljC6GDjI/AAAAAAAABzY/HqDl0bak0q4BGxip3v8GMaKwew4VeayogCLcBGAs/s1600/tour_c%25E1%25BB%2593n_ph%25E1%25BB%25A5ng_1_ng%25C3%25A0y.jpg"  alt="Tour Cồn Phụng 1 Ngày" /></a></div>
<div class="amazingcarousel-title">Tour Du Lịch Cồn Phụng - Thới Sơn 1 Ngày</div>
<div class="amazingcarousel-description">Trải nghiệm một ngày du lịch sông nước miền tây.<span class="tourday">1 ngày</span></div>                    </div>
                </li>
     <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a title="Tour du lịch cồn Phụng 1 ngày" href="http://www.dulichsongnuocbentre.com/p/tour-du-lich-con-phung-1-ngay.html" title="Red Tulips"  class="html5lightbox" data-group="amazingcarousel-7"><img src="https://1.bp.blogspot.com/-oLsVjEEDt4w/WVxljC6GDjI/AAAAAAAABzY/HqDl0bak0q4BGxip3v8GMaKwew4VeayogCLcBGAs/s1600/tour_c%25E1%25BB%2593n_ph%25E1%25BB%25A5ng_1_ng%25C3%25A0y.jpg"  alt="Tour Cồn Phụng 1 Ngày" /></a></div>
<div class="amazingcarousel-title">Tour Du Lịch Cồn Phụng - Thới Sơn 1 Ngày</div>
<div class="amazingcarousel-description">Trải nghiệm một ngày du lịch sông nước miền tây.</div>                    </div>
                </li>
     <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a title="Tour du lịch cồn Phụng 1 ngày" href="http://www.dulichsongnuocbentre.com/p/tour-du-lich-con-phung-1-ngay.html" title="Red Tulips"  class="html5lightbox" data-group="amazingcarousel-7"><img src="https://1.bp.blogspot.com/-oLsVjEEDt4w/WVxljC6GDjI/AAAAAAAABzY/HqDl0bak0q4BGxip3v8GMaKwew4VeayogCLcBGAs/s1600/tour_c%25E1%25BB%2593n_ph%25E1%25BB%25A5ng_1_ng%25C3%25A0y.jpg"  alt="Tour Cồn Phụng 1 Ngày" /></a></div>
<div class="amazingcarousel-title">Tour Du Lịch Cồn Phụng - Thới Sơn 1 Ngày</div>
<div class="amazingcarousel-description">Trải nghiệm một ngày du lịch sông nước miền tây.</div>                    </div>
                </li>
            </ul>
            <div class="amazingcarousel-prev"></div>
            <div class="amazingcarousel-next"></div>
        </div>
        <div class="amazingcarousel-nav"></div>
    </div>
</div>
<script src="http://rawgit.com/vanphamh2/dienlanhbentre/gh-pages/initcarousel.js"></script>
</div> 
        </div>
        <!--end slide tour -->
        <div class="acticleTour">
        <h3>Kinh nghiệm du lịch Cồn Phụng</h3><hr />
         <ul>
             <li>
                <div class="acticleI">
                 <img width="120" height="60" src="https://3.bp.blogspot.com/-R3Dklr6ZIds/WUiT9T34ZLI/AAAAAAAABus/Clbsv7EhM0EI_vOal6uyB9mGTiCZNXpdgCLcBGAs/s1600/tr%25C3%25B2_ch%25C6%25A1i_b%25C3%25B3ng_n%25C6%25B0%25E1%25BB%259Bc.jpg" alt="Cồn phụng có gì chơi" />
                    </div>
                    <div class="acticleC">
                    <a title="Cồn phụng có gì chơi" href="http://www.dulichsongnuocbentre.com/2017/06/con-phung-co-gi-choi.html"><h4>Cồn Phụng có gì chơi ?</h4></a>
                    Hãy một lần thử sức mình với các trò chơi tại khu du lịch Cồn Phụng nhé, rất nhiều trò chơi thú vị đang đợi bạn đấy.
                    </div>
                </li>
                <li>
                <div class="acticleI">
                 <img width="120" height="60" src="https://2.bp.blogspot.com/-UUP1Co9VLqw/WVJyVF9QJpI/AAAAAAAABxU/ZfLXyMVTrUA81M0pmqjJC0whCgVaoPTPACLcBGAs/s1600/gia-ve-khu-du-lich-con-phung.jpg" alt="Cồn phụng có gì chơi" />
                    </div>
                    <div class="acticleC">
                    <a title="Giá vé tham quan Cồn Phụng bao nhiêu?" href="http://www.dulichsongnuocbentre.com/2017/06/gia-ve-khu-du-lich-con-phung-la-bao.html"><h4>Giá vé tham quan Cồn Phụng bao nhiêu?</h4></a>
                    Vé tham quan Cồn Phụng năm 2017 là bao nhiêu? Hãy tìm hiểu qua bài viết này.
                    </div>
                </li>
            </ul>
        </div>
<!--end acticle tour -->
<div class="comment">
<h3>Đánh giá khách du lịch</h3><hr />
<script src='http://rawgit.com/vanphamh2/dienlanhbentre/gh-pages/fbcomment.js'/></script>
<fb:comments colorscheme='light' expr:href='data:post.canonicalUrl' expr:title='data:post.title' expr:xid='data:post.id' width='600'/>
</div>
<!--end comment -->
    </div>
    <!--end span 8-->
    <div class="span4">
     <div class="module1 styleM">
         <h6>Giới thiệu</h6>
            <img src="https://1.bp.blogspot.com/-dEtpu4nuceQ/WVujiSe9ycI/AAAAAAAABzI/LAjBfsOzgAsVZdvzExo_cmw51RaoIVwKwCLcBGAs/s1600/b%25E1%25BA%25A3n_%25C4%2591%25E1%25BB%2593_c%25E1%25BB%2593n_ph%25E1%25BB%25A5ng.jpg" alt="bản đồ cồn phụng"  /><br /><br />
            <div class="mContent">
            <p><i class="fa fa-location-arrow" aria-hidden="true"></i>Địa điểm: Cù lao nổi thuộc tỉnh Bến Tre</p>
            <p><i class="fa fa-level-down" aria-hidden="true"></i>Diện tích : Khoảng 50 hecta</p>
            <p><i class="fa fa-retweet" aria-hidden="true"></i>Kinh tế: Du lịch, trồng cây ăn quả</p>
            <p><i class="fa fa-info-circle" aria-hidden="true"></i>Nghề chính: thủ công mỹ nghệ từ dừa</p>
            <p><i class="fa fa-home" aria-hidden="true"></i>Nhóm: <a title="Du lịch Bến Tre" target="_blank" href="http://www.dulichsongnuocbentre.com">Du lịch Bến Tre</a></p>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>Hoạt động 7:00 - 21:00</p>
            </div>
        </div>
        <!--end module 1 -->
        <div class="module2 styleM">
         <h6>Phương tiện di chuyển chính</h6>
            <div class="mContent">
            Thuyền đưa rước khách du lịch tham quan sang khu <strong>du lịch Cồn Phụng</strong><small> (đặt chỗ trước ngày lễ hoặc cuối tuần)</small><br /> 
            Bến thuyền: <a href="callto:+84986885589"><strong>0986.88.55.89 </strong></a><br />
            </div>
        </div>
        <!--end module 2 -->
        <div class="module3 styleM">
         <h6>Video</h6>
            <div class="mContent">
           <iframe width="290" height="180" src="https://www.youtube.com/embed/yFNV_B_x5FM" frameborder="0" allowfullscreen></iframe>
           <div class="videoY">
             <iframe width="135" height="90" src="https://www.youtube.com/embed/9Ne9Jlt_UhM" frameborder="0" allowfullscreen></iframe>
                <iframe width="135" height="90" src="https://www.youtube.com/embed/EzjSg9p0UdQ" frameborder="0" allowfullscreen></iframe>
           </div>
            </div>
        </div>
        <!--end module 3 -->
    </div>
    <!--end span 4-->
</div>
<style>
.comment{
 clear:both;
}
.acticleTour h3, .comment h3, .slideTour h3{
 margin-bottom:5px;
 line-height:1.5em;
}
.acticleTour{
 clear:both;
 margin-top:30px;
}
.acticleTour hr, .comment hr, .slideTour hr{
 margin-top:0px;
}
.acticleTour ul{
 padding:0px;
}
.acticleTour ul li{
 list-style:none;
 display:block;
 padding-bottom:10px;
 margin-bottom:10px;
 border-bottom:thin solid #f2f2f2;
 float:left;
 clear:left;
}
.acticleTour ul li .acticleI{
 float:left;
 padding-right:10px;
 width:20%;
}
.acticleTour ul li .acticleC{
 float:left;
 width:78%;
 vertical-align:top;
}
.acticleTour ul li .acticleC h4{
 margin:0px 0px 10px 0px;
 text-transform:capitalize;
}
.styleM{
 background:#FFF;
 border:thin solid #CCC;
 margin-bottom:10px;
 border-radius:5px;
 padding:10px 0px 10px 0px;
 font-size:12px;
 font-weight:500px;
}
.styleM h6{
 padding-left:12px;
}
.mContent{
 padding-left:12px;
 padding-right:12px;
 line-height:1.7em;
}

.home .mContent p{
  margin:0px;
  color:#3b3b3b;
  font-weight:500;
  font-size:12px;
}
.styleM .fa{
 font-family: FontAwesome;
    color: #666;
    font-size: 16px;
    margin-right: 10px;
    font-style: normal;
    line-height: 20px;
 width:20px;
 height:20px;
 text-align:center;
 display:block;
 float:left;
}
.fa-location-arrow:before{
 content: "\f124";
}
.fa-level-down:before{
 content: "\f149";
}
.fa-retweet:before{
 content: "\f079";
}
.fa-info-circle:before{
 content: "\f05a";
}
.fa-home:before{
 content: "\f015";
}
.fa-clock-o:before{
 content: "\f017";
}
.tourday{
 font-size:10px;
 padding:1px 3px 1px 3px;
 border:thin solid #42b72a;
 background:#42b72a;
 text-transform:uppercase;
 border-radius:3px;
 color:#FFF;
 font-weight:bold;
 margin:3px 0px 0px 3px;
}
.home .service-box_body h4{
	margin:0px 0px 10px 0px;
}
.service-box-contact i:before{
	color: #39464f;
	margin-right:5px;
}

.home .service-box .service-box_txt{
	color:#3b3b3b;
	margin-top:5px;
}
.service-box_body hr{
	margin:0px;
}
.service-box-contact{
	padding:3px 0px 3px 0px;
}
.service-box-contact a{
	font-weight:600;
}
</style>
